* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#dashboard-page {
  display: flex;
}

.pane {
  padding: 1rem;
}

#sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  background-color: rgb(250, 200, 114);
  z-index: 1;
}

#view-pane {
  margin-left: 20%;
  width: 80%;
  height: 100%;
  position: fixed;
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 5px;
}
